<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="strbit" value="11110000101010101100110000110011110101011111110000001111101001011100001100111100011010011001011011100011000111000101"/>
	</appSettings>
	<connectionStrings>
		
		<add name="db"
			 connectionString="Data Source=LAPTOP-U1MC6KC2\SQLEXPRESS;
                           Initial Catalog=db;
                           Integrated Security=true;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>