<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db"
			 connectionString="Data Source=LAPTOP-U1MC6KC2\SQLEXPRESS;Initial Catalog=MarchTraining;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="folderPath" value="D:\Esyasoft Trainning Tasks\EsyasoftMarch-April26Trainning\Task6InsertDataInTbAndExportToCsv\OutputCsvFolder"/>
		<add key="flag" value ="input"/>   <!--input | export-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>