<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="1_0_12_27_0_255" value ="a"/>
		<add key="1_0_1_7_0_255" value ="b"/>
		<add key ="1_0_9_29_0_255" value ="c"/>
		<add key ="1_0_2_29_0_255" value ="d"/>
		<add key ="1_0_10_29_0_255" value ="e"/>
		<add key ="1_0_11_27_0_255" value ="f"/>
		<add key ="1_0_91_27_0_255" value ="g"/>
		<add key ="0_0_96_10_1_255" value ="h"/>



		<add key ="Pending" value ="D:\Esyasoft Trainning Tasks\Esyasoft_Jun_Feb_26_Trainning\Task14LsXmlFileReadAndInsertInDb\Pending"/>
		<add key ="ReadError" value ="D:\Esyasoft Trainning Tasks\Esyasoft_Jun_Feb_26_Trainning\Task14LsXmlFileReadAndInsertInDb\ReadError"/>
		<add key ="Processed" value ="D:\Esyasoft Trainning Tasks\Esyasoft_Jun_Feb_26_Trainning\Task14LsXmlFileReadAndInsertInDb\Processed"/>
	</appSettings>
	<connectionStrings>
		<add name="db"
				 connectionString="Data Source=LAPTOP-U1MC6KC2\SQLEXPRESS;Initial Catalog=Simpletaskdb;Integrated Security=true"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>