<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pdfPath" value="D:\Esyasoft Trainning Tasks\Esyasoft_Jun_Feb_26_Trainning\Task7MultTableCreatePdfFromDb\Output Pdf\DatabaseReport.pdf"/>
		<add key ="logoPath" value="D:\Esyasoft Trainning Tasks\Esyasoft_Jun_Feb_26_Trainning\Task7MultTableCreatePdfFromDb\LogoImage\hi.png"/>
		<add key="HeaderText" value="Company Database Report"/>
		<add key ="TableCount" value="4"/>
		<add key="MaxThreads" value="3"/>
	</appSettings>
	<connectionStrings>
		<add name="db" connectionString="Data Source=LAPTOP-U1MC6KC2\SQLEXPRESS;
                           Initial Catalog=invdb;
                           Integrated Security=true;" />
	</connectionStrings> 
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>