<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BasePath" value="D:\Esyasoft Trainning Tasks\Esyasoft_Jun_Feb_26_Trainning\Task5MultiMeterReadingJsonDataInsertInTb\Operation" />
		<add key="BatchSize" value="10" />
	</appSettings>

	<connectionStrings>
		<add name="DbConn"
			 connectionString="Data Source=LAPTOP-U1MC6KC2\SQLEXPRESS;
                           Initial Catalog=Simpletaskdb;
                           Integrated Security=true;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>